MONGODB_URI=mongodb://127.0.0.1:27017/crypto-alerts
#MONGODB_URI=mongodb+srv://JHpRv89n2ml6gxns:JHpRv89n2ml6gxns@cluster0.e9lk1.mongodb.net/crypto-alerts
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d
#NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=https://smartaiprobot.com

# Email Configuration
DISABLE_EMAIL_NOTIFICATIONS=true
EMAIL_USER=mbilal27526@gmail.com
EMAIL_PASSWORD=uims stre ycgd deno # Your 16-char app password

# client Telegram Configuration (Optional)
 TELEGRAM_BOT_TOKEN=8332799858:AAFaylDqFStpEEjRiubCx37DXe_1RJJDBaE
# arslan
#TELEGRAM_BOT_TOKEN=8305959326:AAHDT8CW0BPFXJK5RdNP_0c62agwoKraG50